.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.view-header {
  font-size:2em;
}

.center {
  text-align: center;
}

.one-point-five-text {
  font-size:1.5em;
}

.double-text {
  font-size:2em;
}

.triple-text {
  font-size:3em;
}

.field-container {
	display: table;
}

.field-label {
	vertical-align: middle;
	display: table-cell;
	width:300px;
}

.field-input {
	vertical-align: middle;
	display: table-cell;
}

.error {
	color:red;
}

.form-label {
	display:inline-block;
	width:300px;
}

label {
	font-weight: normal !important;
}