<div>
	<div class='view-header'>
		<span ng-if='(campaignEdit.id === null)'>
			Create A New Media Campaign
		</span>
		<span ng-if='(campaignEdit.id !== null)'>
			Manage Media Campaign ({{ campaignEdit.code.length > 0 ? campaignEdit.code : "New" }})
		</span>
		<span>
			- Step {{ activeTab }}
		</span>
	</div>

	<br/>

	<div>
		<ul class="nav nav-tabs text150">
			<li role="presentation" ng-class="tabClass(1)"><a href="" ng-click='setActiveTab(1)'
				>1. Campaign</a></li>
			<li role="presentation" ng-class="tabClass(2)"><a href="" ng-click='setActiveTab(2)'
				>2. Malls</a></li>
			<li role="presentation" ng-class="tabClass(3)"><a href="" ng-click='setActiveTab(3)'
				>3. Files & Scheduling</a></li>
		</ul>
		<div style='
			width:100%;
			border-color:#dddddd;
			border-left-style:solid;border-right-style:solid;border-bottom-style:solid;
			border-width:1px;
			'>
			<div style='padding-top:10px;padding-left:10px;'>

<!-- Step 1 -->
<div ng-show='isActiveTab(1)'>
	<div class='bold	'>
		Enter all the information that applies to the campaign
	</div>

	<br/>

	<form name='campaignEditForm' class='text150'>

		<div class='error' ng-if='(createUpdateCampaignServerError !== null)'>
			{{ createUpdateCampaignServerError }}
		</div>

		<label>
			<span class='form-label'>Contract Code</span>
			<input
				type='text'
				name='code'
				ng-model="campaignEdit.code"
				required
				ng-disabled="(campaignEdit.id !== null) || dataModel.ajax"
			/>
	   		<div role='alert' class="error" ng-show="campaignEditForm.code.$error.required">
	   			required!
			</div>
		</label>

		<label>
			<span class='form-label'>Description</span>
			<input
				type='text'
				name='description'
				ng-model="campaignEdit.description"
				ng-disabled="dataModel.ajax"
			/>
		</label>

		<label>
			<span class='form-label'>Start Date</span>
			<input
				name="startDate"
 				type="text"
 				style='text-align:center;'
 				datepicker-popup="dd-MMMM-yyyy"
 				ng-model="campaignEdit.startDate"
 				is-open="isOpen.startDate"
				ng-required="true"
 				close-text="Close"
 				ng-disabled="true"
 				/>
 				<button
 					type="button"
 					ng-click='toggleStartDateIsOpen()'
 					class="btn btn-primary btn-sm">
 					edit
				</button>
				<div role='alert' class="error" ng-show="campaignEditForm.startDate.$error.required">
	   			required!
				</div>
		</label>

		<label>
			<span class='form-label'>End Date</span>
			<input
				name="endDate"
 				type="text"
 				style='text-align:center;'
 				datepicker-popup="dd-MMMM-yyyy"
 				ng-model="campaignEdit.endDate"
 				is-open="isOpen.endDate"
				ng-required="true"
 				close-text="Close"
 				ng-disabled="true"
 				/>
 				<button
 					type="button"
 					ng-click='toggleEndDateIsOpen()'
 					class="btn btn-primary btn-sm">
 					edit
				</button>
				<div role='alert' class="error" ng-show="campaignEditForm.endDate.$error.required">
	   			required!
				</div>
		</label>

		<br/>

		<label>
			<span class='form-label'>Active</span>
			<input
				name="isActive"
 				type="checkbox"
 				ng-model="campaignEdit.isActive"
 				/>
		</label>
	</form>
</div>
			
<!-- Step 2 -->
<div ng-show='isActiveTab(2)'>
	<div>Select all the malls that apply to the campaign</div>
</div>
			
<!-- Step 3 -->
<div ng-show='isActiveTab(3)'>
	<div>Select all the media files and specify dates, times and mediums</div>
</div>

			</div>
	
			<div style='padding:10px;'>
				<a href="" ng-click='gotoPreviousTab()' ng-if="!isActiveTab(1)" style='float:left;'>
					<button type="button" class="btn btn-primary btn-sm">Previous</button>
				</a>
				<a href="" ng-click='gotoNextTab()' ng-if="!isActiveTab(tabCount)" style='float:right;'>
					<button type="button" class="btn btn-primary btn-sm">Next</button>
				</a>
				<a href="" 
					ng-click='gotoNextTab()'
					ng-disabled='(!canSubmitCampaign())' 
					ng-if="isActiveTab(tabCount)"
					style='float:right;'>
					<button type="button" ng-disabled='(!canSubmitCampaign())' class="btn btn-primary btn-sm">Submit Campaign</button>
				</a>
				<div style='clear:both;'>
				</div>
			</div>
		</div>
	</div>	
</div>