/* selected element does not have outline */
a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.view-header {
  font-size:2em;
}

.center {
  text-align: center;
}

.text150 {
  font-size:1.5em;
}

.text200 {
  font-size:2em;
}

.text300 {
  font-size:3em;
}

.field-container {
	display: table;
}

.field-label {
	vertical-align: middle;
	display: table-cell;
	width:300px;
}

.field-input {
	vertical-align: middle;
	display: table-cell;
}

.error {
	color:red;
}

.form-label {
	display:inline-block;
	width:300px;
}

label {
	font-weight: normal !important;
}

.tab-active {
	 border-bottom-color:white !important;
}

.tab-inactive {

}
