
<div class='view-header'>
	<span ng-if='dataModel.user.id !== null'>
		Manage Existing User
	</span>
	<span ng-if='dataModel.user.id === null'>
		Create New User
	</span>
</div>

<br/>

<form name='EditUserForm' class='one-point-five-text'>

	<label>
		<span class='form-label'>Name</span>
		<input
			type='text'
			name='name'
			ng-model="dataModel.user.name"
			required
			ng-disabled="dataModel.user.id !== null"
		/>
   		<div role='alert' class="error" ng-show="EditUserForm.name.$error.required">
   			required!
		</div>
	</label>

	<br/>

	<label>
		<span class='form-label'>Surname</span>
		<input
			type='text'
			name='surname'
			ng-model="dataModel.user.surname"
			required
			ng-disabled="dataModel.user.id !== null"
		/>
   		<div role='alert' class="error" ng-show="EditUserForm.surname.$error.required">
   			required!
		</div>
	</label>

	<br/>

	<label>
		<span class='form-label'>Email</span>
		<input
			type='text'
			name='email'
			ng-model="dataModel.user.email"
			required
		/>
   		<div role='alert' class="error" ng-show="EditUserForm.email.$error.required">
   			required!
		</div>
	</label>

	<br/>

	<div>
		<label>
			<span class='form-label'>Password</span>
			<input
				type='password'
				name='password'
				ng-model="password.password"
				ng-required="(dataModel.user.id == null)"
				ui-validate="{strongpassword : 'passwordIsStrong($value)'}"
			/>
	   		<div role='alert' class="error" ng-show="EditUserForm.password.$error.required">
	   			required!
   			</div>
   			<div role='alert' class="error" ng-show="EditUserForm.password.$error.strongpassword">
	   			the password is too weak.
	   			it must
	   			<ol>
	   			<li>be at least 8 long</li>
	   			<li>have at least 1 uppercase letter</li>
	   			<li>have at least 1 number</li>
	   			<li>have at least 1 special character ! " # $ %	& ' ( ) * +	, -	. /	: ;	< = > ? @ [ \ ] ^ _ ` { | } ~</li>
	   			</ol>
   			</div>
		</label>

		<br/>

		<label>
			<span class='form-label'>Confirm Password</span>
			<input
				type='password'
				name='confirmpassword'
				ng-model="password.confirm"
				ng-required="(dataModel.user.id == null)"
				ui-validate="{confirmpassword : 'confirmPassword($value)'}"
			/>
	   		<div role='alert' class="error" ng-show="EditUserForm.confirmpassword.$error.required">
	   			required!
   			</div>
	   		<div role='alert' class="error" ng-show="EditUserForm.confirmpassword.$error.confirmpassword">
	   			does not match!
   			</div>
		</label>

	</div>

	<br/>

	<div>
		<div ng-show='dataModel.user.id === null'>
			<a ng-href="">
				<button type="button" ng-click='' ng-disabled="(newUserInfoIsCompleteAndValid() == false)" class="btn btn-primary btn-sm">Create User</button>
			</a>
		</div>
		<div ng-show='dataModel.user.id !== null'>
			<a ng-href="">
				<button type="button" ng-click='' ng-disabled="(userHasChanged() == false)" class="btn btn-primary btn-sm">Submit Changes</button>
			</a>
		</div>
	</div>
</div>